= simple_form_for(@<%= singular_table_name %>, remote: true) do |f|
  = f.error_notification

  .form-inputs
  <% first = true -%>
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %><%= first ? ', autofocus: true' : '' %>
  <% first = false -%>
  <%- end -%>

  .form-actions
    = f.button :submit
