= remote_link_to('<i class="icon-plus icon-white"></i>'.html_safe,
    new_<%= singular_table_name %>_path,
    class: 'btn btn-mini btn-primary',
    title: 'Add a new <%= human_name %>') if can? :create, <%= class_name %>
