= show_entry @<%= singular_table_name %> do |e|
<% for attribute in attributes -%>
  = e.field :<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
\|
= link_to 'Back', <%= index_helper %>_path
